.booked {
    background-color: grey;
    opacity: 30%;
}

.day {
    border: 1px solid gainsboro;
}

.cal-th {
    background-color: white;
}

.cal-day-box {
    display: flex;
    justify-content: center;
    color: black;
}

.calendar-title {
    height: 2rem;
    background-color: white;
    border: 1px solid gainsboro;
}

.calendar-title th {
    padding-bottom: 0.5rem;
}

.calendar {
    padding: 1rem;
    width: min(25rem, 45vw);
    height: min(20rem, 40vw);
    border: 1px solid;
}

.calendar th {
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .calendar {
        padding: 1rem;
        width: 100%;
        height: min(20rem, 40vw);
        border: 1px solid;
    }
}
