:root {
    --accent-color-light: #fceacb;
    --accent-color-dark: #5f5c2b;
    --accent-color-terracotta: #d57751;
    --accent-color-yellow: #f4bb4f;
    --shadow-color: rgba(0, 0, 0, 0.22);
    --button-color: rgb(224 224 224);
    --text-color: #7f7f7f;
    --container-color: #f0f0ec;
    --container-color-2: #f8f7f5;
    --oswald: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* @font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url('/fonts/Oswald-Medium.woff2') format('woff2'),
        url('/fonts/Oswald-Medium.woff') format('woff');
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: var(--oswald);
}

.header {
    display: flex;
    justify-content: center;
    font-family: var(--oswald);
    padding: 2rem;
}

.header h3 {
    font-weight: lighter;
}

.button {
    height: 3rem;
    background-color: white;
    border: 0.5px solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: var(--oswald);
    cursor: pointer;
}

.button:hover {
    background-color: var(--container-color-2);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 0.8rem;
}

p,
li {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 0.2rem;
}

/* .booking-response {
    display: flex;
    justify-content: center;
} */

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    background-color: white;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    gap: 4rem;
}

a {
    font-family: var(--oswald);
    font-size: 1rem;
    font-weight: lighter;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

header a {
    cursor: default;
}

@media only screen and (max-width: 768px) {
    .header h3 {
        display: none;
    }
}
